<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>O.S.D Sherlock Assignment</title>
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.compiled.css">
</head>

<body>
    <div class="bg">
        <input type="text" class="search_input" placeholder="Search...">
        <nav class="navbar navbar-light navbar-expand-md fixed-top" style="background: #bfbfbf;">
            <div class="container-fluid"><a class="navbar-brand" href="#"><strong>Sherlock</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="/Search">Search Username</a></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            <div class="jumbotron">
                <h1 id="Heading">SHERLOCK</h1>
                <p class="description">Hunt down social media accounts by username across social networks.</p>
            </div>
        </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>